.cardItem {
  width: 50%;
  margin-bottom: 14px;
  .cardItemInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 10px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    .daoAvatar {
      flex-shrink: 0;
      margin-right: 16px;
      background-color: @mainColor;
    }
    .daoName {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-word;
    }
  }
}
.cardItem:nth-child(2n + 1) {
  .cardItemInner {
    margin-right: 8px;
  }
}
.cardItem:nth-child(2n) {
  .cardItemInner {
    margin-left: 8px;
  }
}
