.content {
  .topBar {
    height: 60px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    .logo {
      font-size: 24px;
      font-weight: bold;
      .switchMenu {
        margin-left: 20px;
        cursor: pointer;
      }
    }
    .uploadVideo {
      font-size: 16px;
    }
  }
  .main {
    max-width: unset;
    margin: 0;
    .aside {
      padding-top: 20px;
      .channelEdit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 16px;
        .channelName {
          margin: 10px 0;
          font-weight: bold;
          .editName {
            display: none;
            color: #000;
            margin-left: 4px;
            cursor: pointer;
          }
        }
        .channelName:hover {
          .name {
            color: #aaa;
          }
          .editName {
            display: inline-block;
          }
        }
      }
    }
  }
}
