.content {
  .walletInfo {
    margin-top: 59px;
    .walletDetails {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .addressBtn,
      .balance {
        font-size: 12px;
      }
      .addressBtn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        .address {
          margin-right: 4px;
        }
        svg {
          width: 16px;
          height: 16px;
          fill: #aaa;
        }
      }
      .balance {
        color: rgba(255, 166, 0, 1);
        font-size: 12px;
        font-weight: 500;
        margin-top: 16px;
        padding: 6px 12px;
        border-radius: 15px;
        background-color: rgba(255, 166, 0, 0.1);
      }
    }
  }
  .setting {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-direction: column;
    margin-top: 63px;
    font-weight: 500;
    .settingItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      .name {
        color: rgba(33, 33, 0, 1);
      }
      .action {
        color: rgba(99, 99, 99, 1);
        .langAction {
          //
        }
        .themeAction {
          .switchBtn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 12px;
            border-radius: 15px;
            background-color: rgba(240, 240, 240, 1);
            .option {
              padding: 6px 12px;
              border-radius: 15px;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.languageList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  span {
    color: rgba(30, 30, 30, 1);
    padding: 6px 30px;
    border-bottom: 0.5px solid rgba(229, 229, 229, 1);
  }
}
