.content {
  padding: 0 4px;
  .search {
    margin-bottom: 10px;
    input {
      background: #f7f7f7;
      //border-radius: 20px!important;
    }
  }
  .subDao,
  .interestDao {
    .title {
      font-weight: bold;
    }
    .subDaoList,
    .interestDaoList {
      display: flex;
      justify-content: flex-start;
      margin: 6px 0;
      flex-wrap: wrap;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
