.content {
  .search {
    input {
      background: #f7f7f7;
    }
  }

  .dao {
    .title {
      margin: 10px 0;
      font-size: 18px;
      font-weight: 500;
    }

    .list {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 10px;

      .list_item {
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
