.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: calc(100vh - 250px);
  padding-top: 10px;

  .my {
    position: relative;
    margin-bottom: 30px;
    .block {
      display: flex;
      .icon {
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0);
      }

      .imgActive {
        border: 2px solid rgba(255, 166, 0, 1);
        border-radius: 50%;
        display: flex;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: rgba(240, 240, 240, 1);
      cursor: pointer;
    }
  }

  .bottomLine {
    margin: 15px 0;
    width: 1.875rem;
    height: 0;
    border: 1px solid rgba(229, 229, 229, 1);
  }

  .joinedList {
    box-sizing: border-box;
    position: relative;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .block {
      display: flex;
      margin: 10px 0;
      .icon {
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0);
      }

      .imgActive {
        border: 2px solid rgba(255, 166, 0, 1);
        border-radius: 50%;
        display: flex;
      }
    }
    .block:first-child {
      margin-top: 0;
    }
  }

  .viewMore::before,
  .my::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 80%;
    height: 1px;
    background: rgba(229, 229, 229, 1);
    z-index: 5;
  }

  .viewMore::before {
    top: -15px;
  }
  .my::after {
    bottom: -15px;
  }

  .viewMore {
    position: relative;
    margin-top: 30px;
    .img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}
