.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;

  .detailsWrap {
    width: 100%;
    flex: 1;

    .details {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0.625rem 0.9375rem;
      height: calc(100vh - 6.8125rem);
      overflow-y: scroll;
      box-sizing: border-box;
      .postCard {
        width: 100%;
      }
      .skeleton {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .content {
    .detailsWrap {
      .details {
        height: calc(100vh - 6.8125rem);
      }
    }
  }
}
