.content {
  height: 100%;
  .borderBottom {
    width: 100%;
    height: 0;
    border-bottom: 0.5px solid rgba(229, 229, 229, 1);
  }
  .header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(229, 229, 229, 1);
    .toHome {
      position: absolute;
      left: 0;
    }
    .latestNav {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .navItem {
        color: rgba(99, 99, 99, 1);
        margin-right: 10px;
      }
    }
    .action {
      position: absolute;
      right: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .searchBtn {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle !important;
        cursor: pointer;
      }
    }
  }

  .addImg {
    width: 1.875rem !important;
  }
}
.content.mine {
  background: rgba(247, 247, 247, 1);
}

.postPopup {
  .postItem {
    .row {
      display: flex;
      align-items: center;

      .img {
        width: 1.125rem;
        height: 1.125rem;
      }

      .text {
        flex: 1;
        margin-left: 1.125rem;
        padding: 1.25rem 0;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(33, 33, 33, 1);
        border-bottom: 0.5px solid rgba(229, 229, 229, 1);
      }
    }
  }
  .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.75rem;
    border-radius: 0.125rem;
    background: rgba(240, 240, 240, 1);
    font-size: 1rem;
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
  }
}
