.content {
  height: 100%;
  .header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(229, 229, 229, 1);
    .latestNav {
      position: absolute;
      left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .navItem {
        color: var(--latest-follow-nav-normal-color);
        margin-right: 10px;
      }
    }
    .action {
      position: absolute;
      right: 10px;
      .searchBtn {
        margin-right: 10px;
      }
      .userAvatar {
        background-color: #f44336;
      }
    }
  }
}
.latest,
.dao,
.addCommunity,
.chat,
.mine {
  svg {
    width: 21px;
    height: 21px;
    fill: var(--main-menuBar-tabBar-svg-normal);
  }
}
.dao,
.mine {
  svg {
    fill: none;
    stroke: var(--main-menuBar-tabBar-svg-normal);
  }
}
.chat {
  svg {
    //width: 26px;
  }
}
