.card {
  box-sizing: border-box;
  max-width: 300px;
  margin: 20px auto;
  border: 1px solid #e5e7eb;
  padding: 1em;

  header {
    display: flex;

    .avatar {
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
      width: 30px;
      height: 30px;
      background: #ccc;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      flex: 1;
    }
  }

  .fun {
    margin-top: 5px;
    margin-left: 42px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .icon {
      flex: 1;
      font-size: 20px;
      color: #18a058;
      display: flex;
      flex-wrap: wrap;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;

        label {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }

    .post {
      border: none;
      margin-left: 20px;
      color: #18a058;
      background-color: #18a05828;
    }
  }

  .img_list {
    margin-left: 35px;

    .img_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      .info {
        display: flex;
        align-items: center;

        img {
          //width: 32px;
          height: 35px;
        }

        span {
          margin-left: 10px;
          font-size: 14px;
          color: #333639;
        }
      }

      .del {
        display: none;
        color: #666;
      }

      &:hover {
        background-color: #eeeeee88;

        .del {
          display: inline;
        }
      }
    }
  }

  .visible {
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding: 5px 0;
  }
}
