.operate {
  margin: 15px 0;
  display: flex;
  justify-content: space-around;

  .operateDiv {
    display: flex;
    align-items: center;
    cursor: pointer;

    .operateIcon {
      width: 18px;
      height: 16px;
    }

    .operateText {
      margin-left: 2px;
      font-size: 12px;
      font-weight: 500;
      color: var(--main-graphicMessage-operate-text-color);
    }
  }
}
