.operate {
  margin: 0.9375rem 0;
  display: flex;
  justify-content: space-around;

  .operateDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;

    .operateText {
      margin-left: 0.125rem;
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--main-graphicMessage-operate-text-color);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .operateIcon {
      display: flex;
      align-items: center;

      .img {
        width: 1.0625rem;
        height: 0.6875rem;
      }
    }
  }
}
