.overlay,
.overlay .overlayContent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}
.overlay {
  .overlayContent {
    overflow: auto;
    outline: 0;
    color: #fff;
    margin-top: 4px;
    padding: 0 20px;
    font-size: 20px;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    opacity: 0.46;
  }
}
.uploadVideoModal {
  .modalContent {
    .title {
      font-size: 18px;
      font-weight: bolder;
    }
    > div {
      max-height: 360px;
      overflow-y: scroll;
      .uploadVideoFile {
        .uploadContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .selectContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            .uploadSelectBtn {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 160px;
              height: 100px;
              margin: 0 auto;
              background-color: #fafafa;
              border: 1px dashed #ccc;
              border-radius: 4px;
              .uploadIcon {
                color: #aaa;
                font-size: 24px;
              }
            }
            .uploadSelectText {
              margin: 0 auto;
              margin-top: 10px;
            }
          }
        }
        .uploadInstructions {
          color: #aaa;
          font-size: 12px;
          margin-top: 80px;
          p {
            text-align: center;
          }
        }
      }
      .uploadVideoDetail {
        .item {
          margin-bottom: 10px;
          padding: 10px 10px 20px 10px;
          border-radius: 4px;
          background-color: #eee;
          .label {
            opacity: 0.7;
            font-weight: bold;
            line-height: 14px;
            margin-bottom: 10px;
          }
          .value {
            //
          }
        }
        .subTitle {
          font-size: 16px;
          margin-bottom: 20px;
          padding: 0;
          background-color: unset;
        }
      }
    }
  }
}
