.groupList {
  .noData {
    text-align: center;
    color: rgba(181, 181, 181, 1);
  }
  .groupListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.625rem 0.3125rem;
    border-bottom: 0.5px solid rgba(229, 229, 229, 1);
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0.625rem;
      flex: 1;
      .nameMsg {
        .name {
          color: rgba(33, 33, 33, 1);
          font-weight: 700;
        }
        .msg {
          color: rgba(181, 181, 181, 1);
          font-size: 0.75rem;
          width: 9.375rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .lastTime {
        color: rgba(181, 181, 181, 1);
        font-size: 0.75rem;
      }
    }
  }
}
