.comment {
  width: 100%;
  .commentList {
    width: 100%;
    .countWrap {
      padding: 0.625rem 0;
      .count {
        margin-top: -0.625rem;
        color: rgba(99, 99, 99, 1);
        font-size: 0.75rem;
      }
      .skeleton {
        min-height: 1.25rem;
      }
    }
    .listWrap {
      .skeleton {
        min-height: 12.5rem;
      }
      .itemList {
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0.625rem 0;
          border-bottom: 0.03125rem solid rgba(229, 229, 229, 1);
          .left {
            margin-right: 0.625rem;
            .avatar {
              //
            }
          }
          .right {
            flex: 1;
            .name {
              font-weight: 700;
            }
            .time {
              color: rgba(181, 181, 181, 1);
              font-size: 0.75rem;
              margin-bottom: 0.125rem;
            }
            .text {
              font-size: 0.875rem;
              line-height: 1.125rem;
              vertical-align: top;
            }
            .action {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: rgba(99, 99, 99, 1);
              font-size: 0.75rem;
              margin-top: 0.625rem;
              .replyBtn,
              .likeBtn {
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
              .replyBtn {
                //margin-right: 40px;
                img {
                  width: 0.75rem;
                  margin: 0.125rem 0.125rem 0 0;
                }
              }
              .likeBtn {
                img {
                  width: 0.875rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .InfiniteScroll {
    width: 100%;
    box-sizing: border-box;
  }
  .createComment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.0625rem;
    padding-top: 0.625rem;
    box-sizing: border-box;
    box-shadow: 0px -5px 30px 1px rgba(128, 128, 128, 0.21);

    input {
      width: 16.25rem;
      height: 1.875rem;
    }
  }
}

.commentPopup {
  .sendBtn {
    color: rgba(33, 33, 33, 1);
    height: 2.75rem;
    line-height: 2.75rem;
    margin-top: 1.25rem;
    text-align: center;
    background: rgba(240, 240, 240, 1);
  }
  .sendBtn.active {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 166, 0, 1);
  }
}
