.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: calc(100vh - 7.5rem);

  .rightContent {
    overscroll-behavior: contain;
    overflow: auto;
    flex: 1;
    background: rgba(255, 255, 255, 1);
    margin-left: 0.625rem;
    padding: 1.25rem;

    .information {
      margin-top: 1.25rem;
      .title {
        display: flex;
        align-items: center;

        .disc {
          margin-right: 0.625rem;
          width: 0.375rem;
          height: 0.375rem;
          border-radius: 50%;
          background: rgba(255, 166, 0, 1);
        }

        .text {
          font-size: 1rem;
          font-weight: 700;
          color: rgba(33, 33, 33, 1);
        }
      }

      .contentBox {
        display: flex;
        margin: 0.625rem 0;

        .img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.625rem;
          height: 2.625rem;
          border-radius: 0.5rem;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 0.125rem 0.9375rem 0.3125rem rgba(0, 0, 0, 0.05);

          .image {
            min-width: 1.75rem;
            min-height: 1.25rem;
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          margin-left: 0.625rem;
          padding-bottom: 0.625rem;
          border-bottom: 0.03125rem solid rgba(229, 229, 229, 1);
          overflow-x: hidden;

          .leftText {
            flex: 1;
            overflow: hidden;
            .name {
              font-size: 1rem;
              font-weight: 700;
              color: rgba(33, 33, 33, 1);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .message {
              max-width: 70%;
              font-size: 0.75rem;
              font-weight: 500;
              color: rgba(181, 181, 181, 1);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          .time {
            font-size: 0.75rem;
            font-weight: 500;
            color: rgba(181, 181, 181, 1);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .viewDaoGroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .viewContent {
        width: 100%;
      }
    }

    .createPage {
      display: flex;
      flex-direction: column;
      align-items: center;

      .noCreateBackGround {
        margin: 3.125rem auto;
        width: 15.9375rem;
        height: 19.75rem;
        background-image: url('../../../assets/img/404.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .noCreateText {
        font-size: 0.75rem;
        font-weight: 500;
        color: rgba(181, 181, 181, 1);
      }
    }
  }
}
