.content {
  padding: 10px;
  flex-grow: 1;
  overflow-y: scroll;

  .topBar {
    //width: 100%;
    //flex-shrink: 0;
    .action {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      margin-bottom: 10px;

      .goBack,
      .bookmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .goBack {
        left: 0;
        font-size: 18px;
        font-weight: bold;
        color: @mainColor;
        line-height: 18px;
      }

      .daoName {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .bookmark {
        right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 10px;
        margin-left: 10px;
        padding: 2px 4px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
    }

    .daoDesc {
      display: flex;
      justify-content: flex-start;
      //align-items: center;
      flex-direction: column;
      padding: 5px 10px;
      border-radius: 6px;
      box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);

      .desc {
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .avatar {
        margin: 0;
      }
    }
  }
  .daoTab {
  }
}
