.content {
  position: relative;
  box-sizing: border-box;
  padding: 0.625rem 0.9375rem 0 0.9375rem;
  height: calc(100% - 7.5rem);
  overflow-y: scroll;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
  }
}

.content.dao {
  overflow: hidden;
  padding: 0 0 0 0.625rem;
  margin-top: 1px;
  background: rgba(247, 247, 247, 1);
}

.content.mine {
  height: calc(100% - 3.75rem);
}

.chat {
  background: rgba(247, 247, 247, 1);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}
