.content {
  box-sizing: border-box;
  padding: 10px 15px 0;
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.content.dao {
  overflow: hidden;
  padding: 0 0 0 10px;
  margin-top: 1px;
  background: rgba(247, 247, 247, 1);
}

.content.mine {
  height: calc(100% - 60px);
}
