.content {
  .navBar {
    padding: 1.25rem;
    height: 3.75rem;
    box-sizing: border-box;
    border: 0.5px solid rgba(229, 229, 229, 1);
    svg {
      width: 1rem;
    }
  }
  .closeIcon {
    width: 0.9375rem;
    height: 0.9375rem;
  }
  .postOptions {
    height: calc(100vh - 9.375rem);
    overflow-y: auto;
    padding: 0 1.25rem;
    .option {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1.25rem 0;
      border-bottom: 0.5px solid rgba(229, 229, 229, 1);
      .key {
        flex-wrap: nowrap;
        width: 5.3125rem;
        margin-right: 0.625rem;
        color: rgba(33, 33, 0, 1);
        font-weight: 700;
      }
      .value {
        flex-grow: 1;
        input::placeholder,
        textarea::placeholder {
          color: rgba(99, 99, 99, 1);
        }
        .videoUpload {
          display: inline-block;
          min-width: 6.5625rem;
          height: 5rem;
          border-radius: 0.125rem;
          background: rgba(240, 240, 240, 1);
          .uploadContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            .selectContainer {
              color: #1890ff;
              .uploadSelectBtn {
                color: #1890ff;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    .postBtn {
      position: absolute;
      bottom: 2.125rem;
      left: 0;
      right: 0;
      margin: 0 1.25rem;
      padding: 0.625rem 0;
      text-align: center;
      background: rgba(255, 166, 0, 1);
      .loading {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 0.1875rem solid #ccc;
        border-radius: 50%;
        border-bottom-color: transparent;
        animation: loading 1s linear infinite;
        vertical-align: middle;
      }
    }
    .postBtn.disabled {
      background: rgba(240, 240, 240, 1);
    }
  }

  .uploadVideoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    .circleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      .circle {
        --size: 7.625rem;
        --fill-color: rgba(255, 166, 0, 1);
        --track-color: #fff;
        --track-width: 0.625rem;
        .percent {
          color: rgba(255, 166, 0, 1);
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }
    .tips {
      color: rgba(255, 255, 255, 1);
      margin-top: 1.25rem;
    }
  }
  .createOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    .circleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      .circle {
        --size: 7.625rem;
        --fill-color: rgba(255, 166, 0, 1);
        --track-color: #fff;
        --track-width: 0.625rem;
        .percent {
          color: rgba(255, 166, 0, 1);
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }
    .tips {
      color: rgba(255, 255, 255, 1);
      margin-top: 1.25rem;
    }
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
