.container {
  width: 335px;
  .inContent {
    width: 100%;
    padding-top: 20px;

    .userInfo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .userImg {
        width: 38px;
        height: 38px;
        margin-right: 10px;
      }

      .userText {
        display: flex;
        flex-direction: column;

        .userName {
          font-size: 16px;
          font-weight: 500;
          color: var(--latest-follow-graphicMessage-userInfo-userName-color);
        }

        .releaseTime {
          font-size: 12px;
          font-weight: 500;
          color: var(--main-graphicMessage-userInfo-text-releaseTime-color);
        }
      }
    }

    .textInfo {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--main-graphicMessage-textInfo-text-name-color);
    }

    .mediumInfo {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px 10px;
      justify-content: space-between;
      margin-top: 10px;

      .imgUrl {
        border-radius: 2px;
      }
    }

    .operate {
      margin: 15px 0;
      display: flex;
      justify-content: space-around;

      .operateDiv {
        display: flex;
        align-items: center;
        cursor: pointer;

        .operateIcon {
          width: 18px;
          height: 16px;
        }

        .operateText {
          margin-left: 2px;
          font-size: 12px;
          font-weight: 500;
          color: var(--main-graphicMessage-operate-text-color);
        }
      }
    }
  }
}
