.container {
  .inContent {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .moreImg {
        width: 20px;
        height: 4px;
        cursor: pointer;
      }
    }

    .textInfo {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--main-graphicMessage-textInfo-text-name-color);
    }

    .mediumInfo {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px 10px;
      justify-content: space-between;
      margin-top: 10px;

      .imgUrl {
        border-radius: 2px;
      }
    }
  }
}
