.page {
  .image {
    width: 6.9375rem;
    height: 6.9375rem;
    border-radius: 0.125rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageMax {
    border-radius: 2px;

    .imgMaxUrl {
      max-width: 20rem !important;
      max-height: 20rem;
    }
  }
}
