.ant-layout {
  background: #f9f9f9;
}

.ant-layout-sider {
  border-right: 1px solid #ddd;
  background: transparent;
}

.ant-menu {
  background: transparent;
}

.site-layout {
  padding: 16px;
}

.ant-table-content {
  overflow-x: scroll;
}

.ant-modal-content,
.ant-modal-header {
  border-radius: 10px;
}

.ant-progress-text {
  color: #fff;
}
