.ant-layout {
  background: #f9f9f9;
}

.ant-layout-sider {
  border-right: 1px solid #ddd;
  background: transparent;
}

.ant-menu {
  background: transparent;
}

.site-layout {
  padding: 16px;
}

.ant-table-content {
  overflow-x: scroll;
}

.ant-modal-content,
.ant-modal-header {
  border-radius: 10px;
}

.ant-progress-text {
  color: #fff;
}

.ant-avatar {
  border-width: 0;
}

.adm-tabs-tab {
  font-size: 15px !important;
}

.adm-swiper {
  margin-top: 10px;
}

.ant-input-affix-wrapper {
  font-size: 12px !important;
  background: #f7f7f7 !important;
  border-radius: 20px !important;
}

.ant-input-group-addon {
  color: #436bfd !important;
  border: none !important;
  background-color: #fff !important;
}

.adm-tab-bar-wrap {
  height: 100% !important;
  .adm-tab-bar-item {
    .adm-tab-bar-item-title {
      color: var(--main-menuBar-tabBar-text-normal);
    }
  }
  .adm-tab-bar-item-active {
    .latest,
    .dao,
    .addCommunity,
    .chat,
    .mine {
      svg {
        fill: var(--main-menuBar-tabBar-svg-active);
      }
    }
    .dao {
      svg {
        fill: none;
        path {
          stroke: var(--main-menuBar-tabBar-svg-active);
        }
      }
    }
    .mine {
      svg {
        fill: none;
        g {
          stroke: var(--main-menuBar-tabBar-svg-active);
        }
      }
    }
    .adm-tab-bar-item-title {
      color: var(--main-menuBar-tabBar-text-active);
    }
  }
}

.videoUpload {
  .ant-upload-list-item {
    max-width: 150px;
    .ant-upload-icon {
      .anticon-loading {
        display: none;
      }
    }
    .ant-upload-list-item-progress {
      display: none;
    }
  }
}

.userAvatar {
  box-sizing: border-box;
  width: 38px !important;
  height: 38px !important;
  .ant-avatar-string {
    line-height: 38px !important;
  }
}

.logoutDialog {
  .adm-mask,
  .adm-center-popup-wrap {
    z-index: 600;
  }
}
