@font-face {
  font-family: 'Impact-Regular';
  src: url('./assets/font/Impact-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/font/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/font/Roboto-Regular.ttf');
}

.fullWidth {
  width: 100%;
}
