@import './antd.less';

@font-face {
  font-family: 'Ping-Fang';
  src: url('./assets/font/Ping-Fang-Medium.ttf');
}

body {
  margin: 0;
  padding: 0;
  color: var(--global-color) !important;
  font-family: var(--font-family) !important;
  background: var(--global-background);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
}

p {
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.navSelected {
  position: relative;
  color: rgba(33, 33, 33, 1) !important;
  font-weight: 700;
}

.navSelected::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 60%;
  height: 4px;
  background: rgba(255, 166, 0, 1);
  border-radius: 2px;
  transform: translateX(-50%);
}

.pageContent {
  padding-top: 70px;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid #ddd;
  }
}

.mobile {
  position: relative;
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}

.modalContent {
  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .divider {
    margin: 16px 0;
  }
}

.themeBtnActive {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 166, 0, 1);
}

.haveCommunity {
  svg {
    fill: rgba(255, 166, 0, 1) !important;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: @mainColor;
  border-radius: 3px;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}
