.bfc {
  position: relative;
  height: 3.75rem;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 3.75rem;
  width: 100%;
  padding: 0 0.625rem;
  border-bottom: 0.03125rem solid #e5e5e5;
}

.dao,
.chat {
  background: rgba(247, 247, 247, 1);
}
