.bfc {
  position: relative;
  height: 60px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  padding: 0 10px;
  border-bottom: 0.5px solid rgba(229, 229, 229, 1);
}
