.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .topBar {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .goBack {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    .logo {
      font-size: 14px;
      cursor: pointer;
    }
  }
  .VideoMain {
    width: 100%;
    overflow-y: scroll;
    .row {
      margin: 0 !important;
      .col {
        width: 100%;
        padding: 0 !important;
      }
      .mainLeft {
        .videoSkeleton {
          width: 100%;
          min-height: 350px;
          background-color: @skeletonColor;
        }
        .detail {
          padding: 20px;
          .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .text {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                margin-left: 10px;
                .daoName {
                  color: rgba(33, 33, 33, 1);
                  font-size: 16px;
                }
                .subscribe {
                  color: rgba(181, 181, 181, 1);
                  font-size: 12px;
                }
              }
            }
            .joinBtn {
              color: rgba(255, 255, 255, 1);
              padding: 6px 12px;
              border-radius: 15px;
              background-color: rgba(255, 166, 0, 1);
            }
          }
          .title {
            color: rgba(33, 33, 33, 1);
            font-weight: 700;
            font-size: 16px;
            margin-top: 10px;
          }
          .desc {
            color: rgba(33, 33, 33, 1);
            margin-top: 10px;
          }
        }
        .detailSkeleton {
          width: 100%;
          min-height: 100px;
          margin-top: 50px;
          background-color: @skeletonColor;
        }
        .comments {
          padding: 20px;
          font-weight: bold;
        }
      }
      .mainRight {
        padding: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    .VideoMain {
      .row {
        .mainLeft {
          .skeleton {
            width: 100%;
            min-height: 176px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .content {
    .VideoMain {
      .row {
        .mainLeft {
          .detail {
            .userActions {
              .right {
                flex-grow: 1;
                .likeOrDislikeOrShare {
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
  }
}
