.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .topBar {
    position: relative;
    width: 100%;
    height: 3.75rem;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .goBack {
      position: absolute;
      top: 50%;
      left: 0.625rem;
      transform: translateY(-50%);
    }
    .logo {
      font-size: 0.875rem;
      cursor: pointer;
    }
  }
  .VideoMain {
    width: 100%;
    height: calc(80vh - 6.8125rem);
    overflow-y: scroll;
    .row {
      margin: 0 !important;
      .col {
        width: 100%;
        padding: 0 !important;
      }
      .mainLeft {
        .videoSkeleton {
          width: 100%;
          min-height: 21.875rem;
          background-color: @skeletonColor;
        }
        .detail {
          padding: 1.25rem 1.25rem 0.625rem;
          .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .leftL {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .text {
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  flex-direction: column;
                  margin-left: 0.625rem;
                  .daoName {
                    color: rgba(33, 33, 33, 1);
                    font-size: 1rem;
                    font-weight: 700;
                  }
                  .subscribe {
                    color: rgba(181, 181, 181, 1);
                    font-size: 0.75rem;
                    margin-top: 0.25rem;
                  }
                }
              }
              .leftR {
                margin-left: 0.625rem;
                line-height: 0;
                img {
                  width: 1.25rem;
                  height: 1.25rem;
                }
              }
            }
            .joined,
            .join {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 3.125rem;
              height: 1.25rem;
              border-radius: 0.5625rem;
              font-size: 0.75rem;
              font-weight: 500;
              cursor: pointer;
            }

            .joined {
              color: rgba(255, 255, 255, 1);
              background: rgba(255, 166, 0, 1);
              border: 0.0625rem solid rgba(255, 166, 0, 1);
            }

            .join {
              border: 0.0625rem solid rgba(181, 181, 181, 1);
              color: rgba(99, 99, 99, 1);
            }
          }
          .title {
            color: rgba(33, 33, 33, 1);
            font-weight: 700;
            font-size: 1rem;
            margin-top: 0.625rem;
            word-break: break-word;
          }
          .desc {
            color: rgba(33, 33, 33, 1);
            margin-top: 0.625rem;
            font-size: 0.75rem;
            word-break: break-word;
          }
          .operation {
            > div {
              margin-bottom: 0;
            }
          }
        }
        .detail::after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          background: rgba(229, 229, 229, 1);
          transform: scaleY(50%);
        }
        .comments {
          padding: 1.25rem;
        }
        .skeleton {
          padding: 0 0.625rem;
          box-sizing: border-box;
        }
      }
      .mainRight {
        padding: 0 0.625rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .content {
    .VideoMain {
      height: calc(100vh - 6.8125rem);
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    .VideoMain {
      .row {
        .mainLeft {
          .skeleton {
            width: 100%;
            min-height: 11rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .content {
    .VideoMain {
      .row {
        .mainLeft {
          .detail {
            .userActions {
              .right {
                flex-grow: 1;
                .likeOrDislikeOrShare {
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
  }
}
